.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
*.jpg
instagram-test-project/src/main/.DS_Store
instagram-test-project/build/reports/tests/test/js/report.js
instagram-test-project/build/reports/tests/test/index.html
instagram-test-project/build/reports/tests/test/css/style.css
instagram-test-project/build/reports/tests/test/css/base-style.css
instagram-test-project/build/reports/tests/test/classes/qa.instagram.UI.SmokeTest.html
instagram-test-project/build/reports/tests/test/classes/qa.instagram.DB.SmokeTest.html
.DS_Store
instagram-test-project/build/test-results/test/TEST-qa.instagram.UI.SmokeTest.xml
instagram-test-project/build/test-results/test/TEST-qa.instagram.DB.SmokeTest.xml
instagram-test-project/build/test-results/test/binary/results.bin
instagram-test-project/build/test-results/test/binary/output.bin.idx
instagram-test-project/build/test-results/test/binary/output.bin
instagram-test-project/build/sonar/report-task.txt
instagram-test-project/build/sonar/findbugs-result.xml
instagram-test-project/build/sonar/findbugs-include.xml
instagram-test-project/build/sonar/class-mapping.csv
instagram-test-project/build/sonar/checkstyle.xml
instagram-test-project/build/sonar/checkstyle-result.xml
instagram-test-project/build/sonar/.sonar_lock
instagram-test-project/build/reports/tests/test/packages/qa.instagram.UI.html
instagram-test-project/build/reports/tests/test/packages/qa.instagram.DB.html
instagram-test-project/build/reports/tests/test/index.html
.DS_Store
instagram-test-project/build/reports/tests/test/index.html
instagram-test-project/build/test-results/test/binary/output.bin
instagram-test-project/build/test-results/test/binary/output.bin.idx
